{% extends "layout.html" %}
  
{% block title %}Alternative Platform{% endblock %}
{% block lead %}This award is designed to celebrate exemplary work done in alternative platforms, and covers anything that is not E. coli, S. cerevisiae, and B. subtilis.{% endblock %}
{% block extra_css %}
{% endblock %}
{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Alternative Platform</h4>
      <p>This award is designed to celebrate exemplary work done in alternative platforms, and covers anything that is not <i>E. coli</i>, <i>S. cerevisiae</i>, and <i>B. subtilis</i>. This award may be given to a team working in plant biology chassis, mammalian cells, cell-free platform, or non-model organisms. Show us what you made and remember to adhere to iGEM Safety Policies and guidelines!</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/awards/special">Special Awards page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2025.igem.wiki/brno-czech-republic/plant">2025 Brno Czech Republic</a></li>
      <li><a href="https://2025.igem.wiki/nais/plant">2025 NAIS</a></li>
      <li><a href="https://2024.igem.wiki/marburg/plant">2024 Marburg</a></li>
      <li><a href="https://2024.igem.wiki/scu-china/plant">2024 SCU-China</a></li>
    </ul>
  </div>
</div>

{% endblock %}
