{% extends "layout.html" %}

{% block title %}Measurement{% endblock %}
{% block lead %}Synthetic Biology needs great measurement approaches for characterizing parts, and efficient new methods
for characterizing many parts at once. Describe your measurement approaches on this page.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Measurement</h4>
      <p>Measurements are how you show that a system, physical or computational, behaves as expected, that data are reliable, and that a result actually matters. Strong contenders pick meaningful targets to measure, capture them precisely through experimental or computational methods, and report results clearly with appropriate units or metrics.</p>
      <hr />
      <p>Visit the <a href="https://competition.igem.org/judging/awards/special">Special Awards page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Overview</h2>
    <hr />
    <p> If you've done excellent work in measurement, you should consider nominating your team for this special award. Synthetic Biology needs great measurement approaches for characterizing parts, and efficient new methods for characterizing many parts at once. If you've done something exciting in the area of Measurement, describe it here!</p>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr />
    <ul>
      <li><a href="https://2025.igem.wiki/aalto-helsinki/measurement">2025 Aalto-Helsinki</a></li>
      <li><a href="https://2025.igem.wiki/epfl/measurement">2025 EPFL</a></li>
      <li><a href="https://2025.igem.wiki/bnds-china/measurement">2025 BNDS-China</a></li>
      <li><a href="https://2025.igem.wiki/groningen/measurement">2025 Groningen</a></li>
      <li><a href="https://2025.igem.wiki/mcmaster-canada/measurement">2025 McMaster-Canada</a></li>
      <li><a href="https://2025.igem.wiki/stuttgart/measurement">2025 Stuttgart</a></li>
    </ul>
  </div>
</div>

{% endblock %}